$neat-grid: (
	columns: 12,
	gutter: 36px
);

.grid-container {
	@include grid-container;
	@include grid-visual;
}

.span-6 {
	@include grid-column(6);
	border: 4px solid red;
	// @include grid-visual;
}
